.Track {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(256, 256, 256, 0.8);
  }
  
  .Track-actionAdd {
    cursor: pointer;
    padding: .5rem;
    font-size: 1.25rem;
    transition: color .25s;
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
  }
  
  .Track-actionAdd:hover {
    color: #1DB954;
  }
  
  .Track-information {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 105px;
  }
  
  .Track-information h3 {
    margin-bottom: .22rem;
  }
  
  .Track-information p {
    font-size: .83rem;
    font-weight: 300;
    color: rgba(256, 256, 256, 0.8);
  }

  .Track-actionRem {
    cursor: pointer;
    padding: .5rem;
    font-size: 1.25rem;
    transition: color .25s;
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
  }
  
  .Track-actionRem:hover {
    color: red;
  }

  .Track-actionAdd:focus {
    color: #1DB954;
  }