html, body, #root {
  height: 100%;
  
}


.App {
  height: 100%;
  background-image: url(./FsUv1KnWIA4xq39.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0px;
  /* text-align: center; */
  background-color: plum;
  overflow-y: scroll;
  color: white;
}

h1 {
  /* border: solid blue; */
  padding: 0px;
margin: auto 10px;
  font-size: 60px;
  color: white;

}

.App-playlist {
  display: flex;
  justify-content: space-between;
}

