.SearchBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    margin-bottom: 2.33rem;
  }
  
  .SearchBar input {
    width: 287px;
    padding: .88rem 0;
    border: 1px solid #000;
    border-radius: 3px;
    margin-bottom: 1.22rem;
    color: #010c3f;
    text-align: center;
    font-size: 1rem;
    opacity: 0.5;
  }

  .SearchBar input:focus {
    outline: none;    
  }
  
  .SearchButton {
    cursor: pointer;
    width: 6.11rem;
    padding: .67rem 0;
    border-radius: 54px;
    background: transparent;
    text-align: center;
    font-size: 1rem;
    transition: background-color .25s;
    border: 0px;
    color: #010c3f;
    font-weight: 500;
    border: solid 1px black;
  }
  
  .SearchButton:hover {
    background-color: #3B5159;
    border: solid 1px #3B5159;
    color: white;
  }

  ::placeholder {
    color: black;
  }